body{
color: crimson;
background-color: darkkhaki;
font-size: larger;
}
.heading{
color: darkturquoise;
font-style: oblique ;
font-size: 20px;
background-color: deeppink;
}
#camera{
height: 300px;
width: 300px;
border: 2px dashed black;
}